body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

header, footer {
    background-color: #333;
    padding: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    color: white;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linear {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    margin-top: 80px;
}

.radial {
    background: radial-gradient(circle, #00c6ff, #0072ff);
    background-attachment: fixed;
}
