*{
}

.parent{
    border: 4px solid rgb(12, 12, 12);
    height:500px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.child1{
    border: 3px solid black;
    height: 100px;
    width: 100px;
}
.child2{
    border: 3px solid black;
    height: 100px;
    width: 100px;
}
.child3{
    border: 3px solid black;
    height: 100px;
    width: 100px;
}
